@import "partials/mains";

article ol {
  display: flex;
  text-decoration: none;
  list-style: none;
  width: 100%;
  justify-content: center;
}

ol #contacts, .icon {
  color: black;
  font-size: 50px;
  padding-left: 1em;
  padding-right: 1em;
  
}

p {
  margin-top: -1px;
}
