@import "partials/mains";


article .techstack li, .misc {
  list-style: none;
  margin-left: 2em;
  font-size: 16px;
  padding: 1px 0;
}
span .listfont{
  font-family: "Nunito", sans-serif;
}
.misc li {
  font-size: 16px;
}
.resume p a {
  color: black;
  padding: 10px auto;
}
