article ol {
  display: flex;
  text-decoration: none;
  list-style: none;
  justify-content: space-evenly;
  
  #contacts, .icon {
    color: black;
    font-size: 50px;
      :hover {
        color: rgb(167, 15, 15);
        transition: 0.2s;
      }
  }

}
// p element to center
.mid {
  text-align: center;
}
.messageform {
  text-align: center;
  padding-top: 10px;
  padding-bottom: 20px;
}
// contact form
input[type=text], input[type=email], select, textarea {
  width: 100%;
  padding: 12px;
  border-radius: 3px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

// submit button
.button {
  background-color: black;
  color: white;
  padding: 10px 40px;
  border: none;
  border-radius: 3px;
  cursor: pointer;

}
.button:hover {
  background-color: rgb(167, 15, 15);
  transition: 0.2s;
}


