@import "partials/aboutme";
@import "partials/skillscv";
@import "partials/projects";
@import "partials/blog";
@import "partials/contactme";



* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: "Nunito", sans-serif;
  
}
// body {
//   height: 900px;
// } 
main {
  padding-bottom: 40px;
} 

//content in center of page

article {
  background-color: rgb(243, 236, 236);
  padding: 20px;
  margin-bottom: 20px;
  border-radius: 5px;
  justify-content: center;
  margin-left: 100px;
  margin-right: 100px;

    img {
      display: flex;
      height: 500px;
      object-fit: contain;
      width: 100%;
    }
}

// content header 
h1 {
  background-color: rgb(243, 236, 236);
  padding: 20px;
  border-radius: 5px;
  justify-content: center;
  margin: -20px 14px 20px 14px;
  letter-spacing: 1px;
  text-transform: uppercase;
}
// nav bar at page top
nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 6vh;
  background-color: rgb(167, 15, 15);
  position: fixed;
  width: 100%;
}
// footer bar at page bottom
footer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 4vh;
  width: 100%;
  background-color: rgb(15, 13, 13);
  position: relative;
  bottom: 0;
}
footer .nav-links-end a:hover {
  color: rgb(223, 75, 75);
  transition: 0.2s;
}
.logo {
  color: white;
  text-transform: uppercase;
  letter-spacing: 5px;
  font-size: 32px;
}
// space around nav items at top
.nav-links{
  display: flex;
  justify-content: space-around;
  width: 50%;
}
.nav-links-end {
  width: 90%;
  display: flex;
  justify-content: space-evenly;
}

.nav-links li, .nav-links-end {
  list-style: none;
}
footer, .nav-links-end, a {
  text-decoration: none;
  color: white;
}
.nav-links a {
  color: white;
  text-decoration: none;
  letter-spacing: 3px;
  font-weight: bold;
  font-size: 15px;
}
//shows current page on nav bar
.nav-links a.current {
  border-bottom: 3px solid white;
}
.nav-links a:hover {
  border-bottom: 3px solid white;
}

.content, main {
  padding-top: 35px;
  line-height: 1.5;
  display: block;
  margin-left: 5.4em;
  margin-right: 5.4em;
}

.content, p {
  margin-top: 30px;
}
ul li {
  font-size: 20px;
}

//navigation bar in mobile view
.burger {
  display: none;
}
.burger div {
  width: 30px;
  height: 5px;
  background-color: white;
  margin: 6px 0;
}
//changes size when width below 1024px
@media screen and (max-width: 1024px) {
  .content,
  main {
    margin: 0 1.2em;
  }
  article {
    margin-left: 20px;
    margin-right: 20px;
  }

  .nav-links {
    display: flex;
    width: 70%;
  }
  article img {
    display: flex;
    height: 400px;
    object-fit: cover;
    width: 100%;
  }
  h1 {
    margin: 10px 2px 20px 1px;
  }
  
}
// changes size when width below 768px
@media screen and (max-width: 768px) {
  .content main {
    margin-left: 1.2em;
    margin-right: 1.2em;
  }

  article { 
    margin-left: 0.5rem;
    margin-right: 1px;
  }
  .content, h1 {
    margin-left: 4px;
    margin-right: 1px;
  }
  h1 {
    margin-top: 5px;
  }
 
  body {
    overflow-x: hidden;
  }
  .nav-links {
    display: flex;
    position: absolute;
    right: 0px;
    height: 300px;
    top: 6.5vh;
    background-color: rgb(167, 15, 15);
    flex-direction: column;
    align-items: center;
    width: 100%;
    transform: translateX(100%);
    transition: transform 0.5s ease-in;
  }
  .nav-links li {
    opacity: 0;
  }
  .burger {
    display: block;
    cursor: pointer;
  }
}

// appearance of nav items in mobile in conjunction with javascript
.nav-active {
  transform: translateX(0%);
}
@keyframes navLinkFade {
  from {
    opacity: 0;
    transform: translateX(50px);
  }
  to {
    opacity: 1;
    transform: translateX(0px);
  }
}

